<!DOCTYPE html>
<html>
  <head>
 
  </head>

  <body>
    <h1>Delete Account:</h1>

    <ul>
        <% users.forEach((user, index) => { %>  
         
           <li><% `${index} ${user.first}` %></li> 
         
<% }) %>
         </ul>
    <form action= '/users/delete' method= "POST"> 
     
           <p>Email: <input type="email" required name="email"></p>
           <p>Password: <input type="password" required name="password"></p>
           <p><input type="submit"></p>      
         </form>
         <h4><%= response %> </h4>
  
    </body>
</html>
