<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Please Register:</h1>
    <p><%= title %></p>
    <a href="/users/adduser"> Add User </a><br>
    <a href="/users/login"> Log In </a><br>
    <a href="/users/update"> Update User </a><br>
    <a href="/users/delete"> Delete User </a><br>
    <a href="/users/password"> Forgot Password </a>
  </body>
</html>
