<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <ul>  
      <% users.forEach((user, index) => { %>
          
              <li><% `${index} ${user.first}` %></li>
          
      <% }) %>
  </ul>

    <h1>Forgot Password:</h1>
    <form action= '/users/password' method= "POST"> 
        <br>
        
        <p>Email: <input type="email" required name="email"></p>
 
        <p><input type="submit"></p>  

      <h4><%=response %></h4>
    </form>
    </body>
</html>
