
<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<ul>  
    <% users.forEach((user, index) => { %>
        
            <li><%- `${index} ${user.first}` %></li>
        
    <% }) %>
</ul>

<form action= "/users/update" method= "POST">
id: <br> 
<input type = "number" name = "id")><br>
     First name: <br>
      <input type="text" name="firstname"><br>
      Last  name: <br>
      <input type="text" name= "lastname"> <br>
      Email: <br>
      <input type="email" email= "email"> <br>
      Password: <br> 
      <input type= "password" name= "Password"> <br>
      <input type="submit">
  </form>
  
<p>
    <%= user %> 
</p>

</body>
</html>















